<%= form_for([article]) do |f| %>
  <div class="box-body">
    <%= f.hidden_field :id,id: 'blog-id'  %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control visa-article', rows: 10 %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :published %>
        <%= f.check_box :published %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :published_at %>
        <div class="input-group date" class="">
          <%= f.text_field :published_at, value: article.published_at  , class: 'form-control datepicker', "data-date-format"=>"dd/mm/yyyy" %>
          <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </div>


    <div class="actions">
      <%= f.submit 'Submit', class: 'btn bg-green btn-flat margin' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('.datepicker').datepicker()
</script>